.#{$identifier}-text {
  &--white {
    color: $white;
  }

  &--yellow {
    color: $secondary-color;
  }

  &--orange {
    color: $primary-color;
  }
}

p,
h1,
h2,
h3,
h4,
a,
div {
  font-family: 'MagicalWorld', sans-serif;
  letter-spacing: 3px;
}
