$identifier: 'mq';
$primary-color: #b2a3794f;
$primary-color-hover: #5c5e3d;
$secondary-color: #c47f3c;
$primary-color-faded: #ff7f5075;
$background-color: #f4f4f4;
$text-color: #333;
$yellow: #ffcc00;
$blue: #00ccff;
$red: #ff6666;
$pink: #ff99cc;
$green: #a2d5a5;
$purple: #cc99ff;
$gray: #808080;
$white: #ffffff;
$black: #000000;
