.#{$identifier}-dropzone-game {
  .#{$identifier}-shape svg {
    fill: $secondary-color;
    stroke: $secondary-color;
  }

  .#{$identifier}-shape--drop {
    svg {
      fill: transparent;
      stroke: $secondary-color;
      circle,
      rect,
      ellipse {
        fill: transparent;
        stroke: $secondary-color;
      }
      svg .drop-svg {
        fill: transparent;
        stroke: $secondary-color;
      }
    }

    &.passed {
      svg {
        fill: $secondary-color;
        stroke: $secondary-color;
        circle,
        rect,
        ellipse {
          fill: $secondary-color;
          stroke: $secondary-color;
        }
        svg {
          fill: $secondary-color;
          stroke: $secondary-color;
        }
      }
    }
  }
}
